// start cards-list
//- autor: Alexander Miliutin (alexmil89)
.cardsList
	.container
		.cardsList__wrap
			include /blocks/card/card1
			include /blocks/card/card2
			include /blocks/card/card3
			include /blocks/card/card4
			include /blocks/card/card5
			include /blocks/card/card6
			include /blocks/card/card7
			include /blocks/card/card8
			include /blocks/card/card9
			include /blocks/card/card10
			include /blocks/card/card11
			include /blocks/card/card12
// end cards-list