
<!-- start cards-list-->
<div class="cardsList">
  <div class="container">
    <div class="cardsList__wrap">
      <!-- start card-->
      <div class="card"><a href="#" class="card__imgContent">
          <picture>
            <source srcset="/img/cards/1.webp" type="image/webp"/><img srcset="/img/cards/1.jpg" alt="card"/>
          </picture></a>
        <div class="card__info card__info_sale">sale</div>
        <h3 class="card__title">SINGLEWAve</h3>
        <p class="card__text">Responsive PrestaShop Themes</p>
        <div class="card__buttonWrap"><a class="card__button">Watch</a></div>
      </div>
      <!-- end card-->
      <!-- start card-->
      <div class="card"><a href="#" class="card__imgContent">
          <picture>
            <source srcset="/img/cards/1.webp" type="image/webp"/><img srcset="/img/cards/1.jpg" alt="card"/>
          </picture></a>
        <div class="card__info card__info_new">new</div>
        <h3 class="card__title">SINGLEWAve</h3>
        <p class="card__text">Responsive PrestaShop Themes</p>
        <div class="card__buttonWrap"><a class="card__button">Watch</a></div>
      </div>
      <!-- end card-->
      <!-- start card-->
      <div class="card"><a href="#" class="card__imgContent">
          <picture>
            <source srcset="/img/cards/1.webp" type="image/webp"/><img srcset="/img/cards/1.jpg" alt="card"/>
          </picture></a>
        <div class="card__info card__info_hot">hot</div>
        <h3 class="card__title">SINGLEWAve</h3>
        <p class="card__text">Responsive PrestaShop Themes</p>
        <div class="card__buttonWrap"><a class="card__button">Watch</a></div>
      </div>
      <!-- end card-->
      <!-- start card-->
      <div class="card"><a href="#" class="card__imgContent">
          <picture>
            <source srcset="/img/cards/2.webp" type="image/webp"/><img srcset="/img/cards/2.jpg" alt="card"/>
          </picture></a>
        <div class="card__info card__info_sale">sale</div>
        <h3 class="card__title">Northwave</h3>
        <p class="card__text">Responsive PrestaShop Themes</p>
        <div class="card__buttonWrap"><a class="card__button">Watch</a></div>
      </div>
      <!-- end card-->
      <!-- start card-->
      <div class="card"><a href="#" class="card__imgContent">
          <picture>
            <source srcset="/img/cards/3.webp" type="image/webp"/><img srcset="/img/cards/3.jpg" alt="card"/>
          </picture></a>
        <div class="card__info card__info_new">new</div>
        <h3 class="card__title">ROOM Booking</h3>
        <p class="card__text">Responsive PrestaShop Themes</p>
        <div class="card__buttonWrap"><a class="card__button">Watch</a></div>
      </div>
      <!-- end card-->
      <!-- start card-->
      <div class="card"><a href="#" class="card__imgContent">
          <picture>
            <source srcset="/img/cards/4.webp" type="image/webp"/><img srcset="/img/cards/4.jpg" alt="card"/>
          </picture></a>
        <div class="card__info card__info_hot">hot</div>
        <h3 class="card__title">Facebook</h3>
        <p class="card__text">Responsive PrestaShop Themes</p>
        <div class="card__buttonWrap"><a class="card__button">Watch</a></div>
      </div>
      <!-- end card-->
      <!-- start card-->
      <div class="card"><a href="#" class="card__imgContent">
          <picture>
            <source srcset="/img/cards/5.webp" type="image/webp"/><img srcset="/img/cards/5.jpg" alt="card"/>
          </picture></a>
        <div class="card__info card__info_sale">sale</div>
        <h3 class="card__title card__title_res">The new york times</h3>
        <p class="card__text">Responsive PrestaShop Themes</p>
        <div class="card__buttonWrap"><a class="card__button">Watch</a></div>
      </div>
      <!-- end card-->
      <!-- start card-->
      <div class="card"><a href="#" class="card__imgContent">
          <picture>
            <source srcset="/img/cards/6.webp" type="image/webp"/><img srcset="/img/cards/6.jpg" alt="card"/>
          </picture></a>
        <div class="card__info card__info_new">new</div>
        <h3 class="card__title">Temating</h3>
        <p class="card__text">Responsive PrestaShop Themes</p>
        <div class="card__buttonWrap"><a class="card__button">Watch</a></div>
      </div>
      <!-- end card-->
      <!-- start card-->
      <div class="card"><a href="#" class="card__imgContent">
          <picture>
            <source srcset="/img/cards/7.webp" type="image/webp"/><img srcset="/img/cards/7.jpg" alt="card"/>
          </picture></a>
        <div class="card__info card__info_hot">hot</div>
        <h3 class="card__title">Surfing</h3>
        <p class="card__text">Responsive PrestaShop Themes</p>
        <div class="card__buttonWrap"><a class="card__button">Watch</a></div>
      </div>
      <!-- end card-->
      <!-- start card-->
      <div class="card"><a href="#" class="card__imgContent">
          <picture>
            <source srcset="/img/cards/8.webp" type="image/webp"/><img srcset="/img/cards/8.jpg" alt="card"/>
          </picture></a>
        <div class="card__info card__info_sale">sale</div>
        <h3 class="card__title">twoje</h3>
        <p class="card__text">Responsive PrestaShop Themes</p>
        <div class="card__buttonWrap"><a class="card__button">Watch</a></div>
      </div>
      <!-- end card-->
      <!-- start card-->
      <div class="card"><a href="#" class="card__imgContent">
          <picture>
            <source srcset="/img/cards/9.webp" type="image/webp"/><img srcset="/img/cards/9.jpg" alt="card"/>
          </picture></a>
        <div class="card__info card__info_new">new</div>
        <h3 class="card__title">linked</h3>
        <p class="card__text">Responsive PrestaShop Themes</p>
        <div class="card__buttonWrap"><a class="card__button">Watch</a></div>
      </div>
      <!-- end card-->
      <!-- start card-->
      <div class="card"><a href="#" class="card__imgContent">
          <picture>
            <source srcset="/img/cards/10.webp" type="image/webp"/><img srcset="/img/cards/10.jpg" alt="card"/>
          </picture></a>
        <div class="card__info card__info_hot">hot</div>
        <h3 class="card__title">overview</h3>
        <p class="card__text">Responsive PrestaShop Themes</p>
        <div class="card__buttonWrap"><a class="card__button">Watch</a></div>
      </div>
      <!-- end card-->
    </div>
  </div>
</div>
<!-- end cards-list-->