@font-face {
	font-family: 'icomoon';
	src:url('/font/icons/icomoon.eot');
	src:url('/font/icons/icomoon.eot') format('embedded-opentype'),
		url('/font/icons/icomoon.ttf') format('truetype'),
		url('/font/icons/icomoon.woff') format('woff'),
		url('/font/icons/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-vk:before {
	content: "\e602";
}
