
<!-- start header-->
<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div itemscope="itemscope" itemtype="http://schema.org/Organization" class="header__blocks">
        <!-- start logo--><a href="#" data-icon="logo" class="logo isvg"></a>
        <!-- end logo-->
        <!-- start socials-->
        <div class="socials socials_head">
          <div class="socials__wrap socials__wrap_head"><a href="#" data-icon="icon-vk" class="isvg"></a><a href="#" data-icon="icon-fb" class="isvg"></a><a href="#" data-icon="icon-tw" class="isvg"></a></div>
        </div>
        <!-- end socials-->
      </div>
    </div>
  </div>
</header>
<!-- end header-->