@keyframes animatedBackground {
	from { background-position: center top; }
	to { background-position: 100% 0; }
}
.parallax
	background-image: url('/img/parallax/parallax.jpg')
	background-position: center top
	background-repeat: repeat-x
	background-attachment: fixed
	height: 490px
	position: relative
	overflow: hidden
	animation: animatedBackground 10s linear infinite
	animation-direction: alternate
	@media (max-width: $screen-lg-min)
		animation: animatedBackground 20s linear infinite
	@media (max-width: 900px)
		background-attachment: scroll
		animation: none
		background-position: 0 0
		background-repeat: none
	@media (max-width: $screen-ipad-max)
		height: 300px
	&:before
		display: block
		content: ''
		height: 100%
		width: 100%
		background-color: black
		opacity: 0.3
	&__afterAnimation1, &__afterAnimation2, &__afterAnimation3, &__afterAnimation4, &__afterAnimation5, &__afterAnimation6
		position: absolute
		opacity: 0
		p
			position: relative
			text-transform: uppercase
			font-size: 14px
			color: white
			font-family: 'SegoeScript'
			margin: 0
	&__maquetteFront, &__maquetteBack1, &__maquetteBack2
		position: absolute
		margin: 0 auto
		box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.2)
		@media (max-width: $screen-ipad-max)
			display: none
	&__maquetteFront
		bottom: -5px
		left: 0
		right: 0
		z-index: 3
		width: 310px
		animation: fadeInUp 2.5s 1 ease-in-out
	&__afterAnimation2
		top: -15%
		left: 36%
		animation: fadeIn 1s 1 ease-out
		animation-delay: 2s
		animation-fill-mode: forwards
		p
			right: 17px
	&__afterAnimation3
		top: -11%
		right: 11%
		animation: fadeIn 1s 1
		animation-delay: 4s
		animation-fill-mode: forwards
		p
			left: 15px
	&__afterAnimation4
		top: 4%
		right: -15%
		animation: fadeIn 1s 1 ease-out
		animation-delay: 3s
		animation-fill-mode: forwards
		p
			left: 40px
	&__maquetteBack1
		bottom: -10%
		right: calc(50% - 390px)
		animation: slideInRight 2.5s 1 ease-in-out
		animation-fill-mode: backwards
		@media (max-width: 1080px)
			right: calc(50% - 300px)
		@media (max-width: 900px)
			right: calc(50% - 230px)
		@media (max-width: $screen-xs-max)
			right: calc(50% - 200px)
		@media (max-width: 700px)
			right: calc(50% - 180px)
	&__afterAnimation1
		top: 28%
		right: -19%
		animation: fadeIn 1s 1 ease-out
		animation-delay: 4.5s
		animation-fill-mode: forwards
		p
			font-size: 20px
			left: 25px
	&__maquetteBack2
		bottom: -10%
		left: calc(50% - 390px)
		animation: slideInLeft 2.5s 1 ease-in-out
		animation-fill-mode: backwards
		@media (max-width: 1080px)
			left: calc(50% - 300px)
		@media (max-width: 900px)
			left: calc(50% - 230px)
		@media (max-width: $screen-xs-max)
			left: calc(50% - 200px)
		@media (max-width: 700px)
			left: calc(50% - 180px)
	&__afterAnimation5
		left: -27%
		bottom: 23%
		animation: fadeIn 1s 1 ease-out
		animation-delay: 2.5s
		animation-fill-mode: forwards
	&__afterAnimation6
		left: -27%
		bottom: 70%
		animation: fadeIn 1s 1 ease-out
		animation-delay: 3.5s
		animation-fill-mode: forwards
		p
			right: 55px