// start parallax
//- autor: Vadim Korneychuk (sti4er)
.parallax
	.parallax__maquetteFront.fadeInUp
		.isvg(data-icon = "sketch-front")
		.parallax__afterAnimation2.fadeIn
			p logo
			.isvg(data-icon = "arrow-logo")
		.parallax__afterAnimation3.fadeIn
			p lang
			.isvg(data-icon = "arrow-lang")
		.parallax__afterAnimation4.fadeIn
			p slider
			.isvg(data-icon = "arrow-right")
	.parallax__maquetteBack1.slideInRight
		.isvg(data-icon = "sketch-right")
		.parallax__afterAnimation1.fadeIn
			p filter
			.isvg(data-icon = "arrow-right")
	.parallax__maquetteBack2.slideInLeft
		.isvg(data-icon = "sketch-left")
		.parallax__afterAnimation5.fadeIn
			p carusel
			.isvg(data-icon = "arrow-left")
		.parallax__afterAnimation6.fadeIn
			p product image
			.isvg(data-icon = "arrow-left")
// end parallax