
<!-- start parallax-->
<div class="parallax">
  <div class="parallax__maquetteFront fadeInUp">
    <div data-icon="sketch-front" class="isvg"></div>
    <div class="parallax__afterAnimation2 fadeIn">
      <p>logo</p>
      <div data-icon="arrow-logo" class="isvg"></div>
    </div>
    <div class="parallax__afterAnimation3 fadeIn">
      <p>lang</p>
      <div data-icon="arrow-lang" class="isvg"></div>
    </div>
    <div class="parallax__afterAnimation4 fadeIn">
      <p>slider</p>
      <div data-icon="arrow-right" class="isvg"></div>
    </div>
  </div>
  <div class="parallax__maquetteBack1 slideInRight">
    <div data-icon="sketch-right" class="isvg"></div>
    <div class="parallax__afterAnimation1 fadeIn">
      <p>filter</p>
      <div data-icon="arrow-right" class="isvg"></div>
    </div>
  </div>
  <div class="parallax__maquetteBack2 slideInLeft">
    <div data-icon="sketch-left" class="isvg"></div>
    <div class="parallax__afterAnimation5 fadeIn">
      <p>carusel</p>
      <div data-icon="arrow-left" class="isvg"></div>
    </div>
    <div class="parallax__afterAnimation6 fadeIn">
      <p>product image</p>
      <div data-icon="arrow-left" class="isvg"></div>
    </div>
  </div>
</div>
<!-- end parallax-->