.socials
	position: absolute
	&_foot
		top: 7px
		left: 0
	&_head
		right: 0
		top: 7px
	@media (max-width: $screen-ipad-max)
		right: auto
		top: auto
		bottom: -50px
		width: 100%
	&__wrap
		width: 129px
		@media (max-width: $screen-ipad-max)
			margin: 0 auto
		a
			display: inline-block
			border-radius: 50%
			height: 30px
			width: 30px
			box-shadow: 0px 0px 0px 1px white
			text-align: center
			padding: 4px 8px
			margin-left: 13px
			svg
				position: relative
				top: 2px
				right: 2px
		.icon-tw
			svg
				position: relative
				top: 3px
				right: 1px
		.icon-vk
			svg
				position: relative
				top: 3px
		&_foot
			a
				&:hover
					background-color: white
					box-shadow: 0px 0px 0px 1px white
					svg path
						fill: #343434
				svg path
					fill: #fff
		&_head
			a
				box-shadow: 0px 0px 0px 1px rgba(236,236,236,1)
				&:hover
					background-color: #43a6c7
					box-shadow: 0px 0px 0px 1px #43a6c7
					svg path
						fill: white
				svg path
					fill: #43a6c7