
<!-- start socials-->
<div class="socials socials_foot">
  <div class="socials__wrap socials__wrap_foot"><a href="#" data-icon="icon-vk" class="isvg"></a><a href="#" data-icon="icon-fb" class="isvg"></a><a href="#" data-icon="icon-tw" class="isvg"></a></div>
</div>
<!-- end socials-->