// start socials
//- autor: Miliutin Alexander (alexmil89)
.socials.socials_foot
	.socials__wrap.socials__wrap_foot
		a.isvg(href="#" data-icon="icon-vk")
		a.isvg(href="#" data-icon="icon-fb")
		a.isvg(href="#" data-icon="icon-tw")
// end socials