html{
  font-family:sans-serif;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

body{
  margin:0;
}

footer,header,main{
  display:block;
}

a{
  background-color:transparent;
}

a:active,a:hover{
  outline:0;
}

img{
  border:0;
}

button,input{
  margin:0;
  font:inherit;
  color:inherit;
}

button{
  overflow:visible;
}

button{
  text-transform:none;
}

button{
  -webkit-appearance:button;
  cursor:pointer;
}

button::-moz-focus-inner,input::-moz-focus-inner{
  padding:0;
  border:0;
}

input{
  line-height:normal;
}

@media print{
  *,:after,:before{
    color:#000!important;
    text-shadow:none!important;
    background:0 0!important;
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
  }

  a,a:visited{
    text-decoration:underline;
  }

  a[href]:after{
    content:" (" attr(href) ")";
  }

  a[href^="#"]:after{
    content:"";
  }

  img{
    page-break-inside:avoid;
  }

  img{
    max-width:100%!important;
  }

  h3,p{
    orphans:3;
    widows:3;
  }

  h3{
    page-break-after:avoid;
  }
}

*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

:after,:before{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

html{
  font-size:10px;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body{
  font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color:#fff;
}

button,input{
  font-family:inherit;
  font-size:inherit;
  line-height:inherit;
}

a{
  color:#337ab7;
  text-decoration:none;
}

a:focus,a:hover{
  color:#23527c;
  text-decoration:underline;
}

a:focus{
  outline:thin dotted;
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px;
}

img{
  vertical-align:middle;
}

h3{
  font-family:inherit;
  font-weight:500;
  line-height:1.1;
  color:inherit;
}

h3{
  margin-top:20px;
  margin-bottom:10px;
}

h3{
  font-size:24px;
}

p{
  margin:0 0 10px;
}

.container{
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}

@media (min-width:768px){
  .container{
    width:750px;
  }
}

@media (min-width:992px){
  .container{
    width:970px;
  }
}

@media (min-width:1200px){
  .container{
    width:1170px;
  }
}

.form-control{
  display:block;
  width:100%;
  height:34px;
  padding:6px 12px;
  font-size:14px;
  line-height:1.42857143;
  color:#555;
  background-color:#fff;
  background-image:none;
  border:1px solid #ccc;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus{
  border-color:#66afe9;
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.form-control::-moz-placeholder{
  color:#999;
  opacity:1;
}

.form-control:-ms-input-placeholder{
  color:#999;
}

.form-group{
  margin-bottom:15px;
}

.has-feedback{
  position:relative;
}

.has-feedback .form-control{
  padding-right:42.5px;
}

.form-control-feedback{
  position:absolute;
  top:0;
  right:0;
  z-index:1;
  display:block;
  width:34px;
  height:34px;
  line-height:34px;
  text-align:center;
  pointer-events:none;
}

.container:after,.container:before{
  display:table;
  content:" ";
}

.container:after{
  clear:both;
}

@-ms-viewport{
  width:device-width;
}
@-webkit-keyframes a{
  0%{
    opacity:0;
  }

  to{
    opacity:1;
  }
}

.fadeIn{
  -webkit-animation-name:a;
  animation-name:a;
}

.fadeInUp{
  -webkit-animation-name:b;
  animation-name:b;
}

.slideInLeft{
  -webkit-animation-name:c;
  animation-name:c;
}

.slideInRight{
  -webkit-animation-name:d;
  animation-name:d;
}

@-webkit-keyframes a{
  0%{
    opacity:0;
  }

  to{
    opacity:1;
  }
}

@keyframes a{
  0%{
    opacity:0;
  }

  to{
    opacity:1;
  }
}

@-webkit-keyframes b{
  0%{
    opacity:0;
    -webkit-transform:translate3d(0, 100%, 0);
    transform:translate3d(0, 100%, 0);
  }

  to{
    opacity:1;
    -webkit-transform:none;
    transform:none;
  }
}

@keyframes b{
  0%{
    opacity:0;
    -webkit-transform:translate3d(0, 100%, 0);
    transform:translate3d(0, 100%, 0);
  }

  to{
    opacity:1;
    -webkit-transform:none;
    transform:none;
  }
}

@-webkit-keyframes c{
  0%{
    -webkit-transform:translate3d(-100%, 0, 0);
    transform:translate3d(-100%, 0, 0);
    visibility:visible;
  }

  to{
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
}

@keyframes c{
  0%{
    -webkit-transform:translate3d(-100%, 0, 0);
    transform:translate3d(-100%, 0, 0);
    visibility:visible;
  }

  to{
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
}

@-webkit-keyframes d{
  0%{
    -webkit-transform:translate3d(100%, 0, 0);
    transform:translate3d(100%, 0, 0);
    visibility:visible;
  }

  to{
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
}

@keyframes d{
  0%{
    -webkit-transform:translate3d(100%, 0, 0);
    transform:translate3d(100%, 0, 0);
    visibility:visible;
  }

  to{
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
}
body{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  min-height:100vh;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
}

body main{
  -webkit-box-flex:1;
  -webkit-flex:1 0 auto;
  -ms-flex:1 0 auto;
  flex:1 0 auto;
}

body{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-flow:column nowrap;
  -ms-flex-flow:column nowrap;
  flex-flow:column nowrap;
  min-height:100vh;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
  font-family:Open Sans,sans-serif;
  font-size:13px;
  color:#fff;
}

body main{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-flow:column nowrap;
  -ms-flex-flow:column nowrap;
  flex-flow:column nowrap;
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
  -ms-flex-positive:1;
  flex-grow:1;
}

a:focus,a:hover,a:link{
  text-decoration:none;
}

.card{
  width:31%;
  margin-bottom:30px;
  position:relative;
  overflow:hidden;
}

@media (max-width:768px){
  .card{
    width:48%;
    margin-bottom:25px;
  }
}

@media (max-width:480px){
  .card{
    width:100%;
  }
}

.card:hover>.card__info{
  opacity:1;
  top:10px;
}

.card:hover>.card__title{
  top:22%;
}

@media (max-width:992px){
  .card:hover>.card__title{
    top:27%;
  }
}

@media (max-width:320px){
  .card:hover>.card__title{
    top:25%;
  }
}

.card:hover>.card__text{
  bottom:56%;
}

@media (max-width:992px){
  .card:hover>.card__text{
    bottom:51%;
  }
}

@media (max-width:480px){
  .card:hover>.card__text{
    bottom:54%;
  }
}

@media (max-width:320px){
  .card:hover>.card__text{
    bottom:53%;
  }
}

.card:hover>.card__buttonWrap{
  opacity:1;
  bottom:30%;
}

@media (max-width:992px){
  .card:hover>.card__buttonWrap{
    bottom:20%;
  }
}

@media (max-width:480px){
  .card:hover>.card__buttonWrap{
    bottom:27%;
  }
}

@media (max-width:320px){
  .card:hover>.card__buttonWrap{
    bottom:20%;
  }
}

.card:hover>.card__imgContent{
  background-color:rgba(0,0,0,.7);
}

.card__imgContent{
  display:block;
  background-color:rgba(0,0,0,.3);
  width:100%;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
}

.card__imgContent img{
  width:100%;
  display:block;
  position:relative;
  z-index:-10;
}

.card__title{
  position:absolute;
  margin:0;
  top:38%;
  width:100%;
  text-align:center;
  font-size:2.5rem;
  text-transform:uppercase;
  z-index:3;
  overflow:hidden;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
}

@media (max-width:992px){
  .card__title{
    font-size:2.5rem;
    top:42%;
  }
}

@media (max-width:480px){
  .card__title{
    top:40%;
  }
}

@media (max-width:320px){
  .card__title{
    top:38%;
  }
}

@media (max-width:992px){
  .card__title_res{
    font-size:2rem;
  }
}

@media (max-width:480px){
  .card__title_res{
    font-size:2.5rem;
  }
}

.card__text{
  position:absolute;
  margin:0;
  bottom:40%;
  width:100%;
  text-align:center;
  font-size:13px;
  text-transform:uppercase;
  z-index:3;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
}

@media (max-width:992px){
  .card__text{
    font-size:12px;
    bottom:35%;
  }
}

@media (max-width:480px){
  .card__text{
    bottom:42%;
  }
}

@media (max-width:320px){
  .card__text{
    bottom:40%;
  }
}

.card__buttonWrap{
  position:absolute;
  width:100%;
  height:40px;
  bottom:-30%;
  opacity:0;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
}

.card__button{
  display:block;
  height:40px;
  width:120px;
  border:2px solid #ff5541;
  border-radius:5px;
  font-size:14px;
  text-transform:uppercase;
  text-align:center;
  padding-top:8px;
  color:#fff;
  z-index:4;
  cursor:pointer;
  margin:0 auto;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
}

.card__button:hover{
  background-color:#ff5541;
  color:#fff;
}

.card__info{
  position:absolute;
  top:-20px;
  left:10px;
  height:23px;
  width:70px;
  border-radius:5px;
  font-size:13px;
  text-transform:uppercase;
  line-height:23px;
  text-align:center;
  opacity:0;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
}

.card__info_sale{
  background-color:#fc5440;
  background-image:-webkit-repeating-linear-gradient(135deg,transparent,transparent 2px,#df4736 2px,#df4736 4px);
  background-image:repeating-linear-gradient(-45deg,transparent,transparent 2px,#df4736 2px,#df4736 4px);
}

.card__info_new{
  background-color:#00bcfd;
  background-image:-webkit-repeating-linear-gradient(135deg,transparent,transparent 2px,#02ace7 2px,#02ace7 4px);
  background-image:repeating-linear-gradient(-45deg,transparent,transparent 2px,#02ace7 2px,#02ace7 4px);
}

.card__info_hot{
  background-color:#b0c549;
  background-image:-webkit-repeating-linear-gradient(135deg,transparent,transparent 2px,#a4bb38 2px,#a4bb38 4px);
  background-image:repeating-linear-gradient(-45deg,transparent,transparent 2px,#a4bb38 2px,#a4bb38 4px);
}

.cardsList__wrap{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-flow:row wrap;
  -ms-flex-flow:row wrap;
  flex-flow:row wrap;
  -webkit-align-content:flex-start;
  -ms-flex-line-pack:start;
  align-content:flex-start;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
}

.footer{
  height:130px;
  background-color:#343434;
}

@media (max-width:768px){
  .footer{
    height:165px;
  }
}

.footer__wrap{
  height:130px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}

.footer__blocks{
  -webkit-align-self:center;
  -ms-flex-item-align:center;
  align-self:center;
  height:53px;
  width:100%;
  position:relative;
}

.header{
  height:125px;
}

@media (max-width:639px){
  .header{
    height:155px;
  }
}

.header__wrap{
  height:125px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}

.header__blocks{
  -webkit-align-self:center;
  -ms-flex-item-align:center;
  align-self:center;
  width:100%;
  height:53px;
  position:relative;
}

.logo{
  display:block;
  width:174px;
  height:53px;
  margin:0 auto;
}

.logo_foot svg path{
  fill:#fff;
}

.parallax{
  background-image:url(../../img/parallax/parallax.jpg);
  background-position:center top;
  background-repeat:repeat-x;
  background-attachment:fixed;
  height:490px;
  position:relative;
  overflow:hidden;
  -webkit-animation:e 10s linear infinite;
  animation:e 10s linear infinite;
  -webkit-animation-direction:alternate;
  animation-direction:alternate;
}

@media (max-width:1200px){
  .parallax{
    -webkit-animation:e 20s linear infinite;
    animation:e 20s linear infinite;
  }
}

@media (max-width:900px){
  .parallax{
    background-attachment:scroll;
    -webkit-animation:none;
    animation:none;
    background-position:0 0;
    background-repeat:none;
  }
}

@media (max-width:639px){
  .parallax{
    height:300px;
  }
}

.parallax:before{
  display:block;
  content:'';
  height:100%;
  width:100%;
  background-color:#000;
  opacity:0.3;
}

.parallax__afterAnimation1,.parallax__afterAnimation2,.parallax__afterAnimation3,.parallax__afterAnimation4,.parallax__afterAnimation5,.parallax__afterAnimation6{
  position:absolute;
  opacity:0;
}

.parallax__afterAnimation1 p,.parallax__afterAnimation2 p,.parallax__afterAnimation3 p,.parallax__afterAnimation4 p,.parallax__afterAnimation5 p,.parallax__afterAnimation6 p{
  position:relative;
  text-transform:uppercase;
  font-size:14px;
  color:#fff;
  font-family:SegoeScript;
  margin:0;
}

.parallax__maquetteBack1,.parallax__maquetteBack2,.parallax__maquetteFront{
  position:absolute;
  margin:0 auto;
  box-shadow:0px 0px 14px 4px rgba(0,0,0,.2);
}

@media (max-width:639px){
  .parallax__maquetteBack1,.parallax__maquetteBack2,.parallax__maquetteFront{
    display:none;
  }
}

.parallax__maquetteFront{
  bottom:-5px;
  left:0;
  right:0;
  z-index:2;
  width:310px;
  -webkit-animation:b 2.5s 1 ease-in-out;
  animation:b 2.5s 1 ease-in-out;
}

.parallax__afterAnimation2{
  top:-15%;
  left:36%;
  -webkit-animation:a 1s 1 ease-out;
  animation:a 1s 1 ease-out;
  -webkit-animation-delay:2s;
  animation-delay:2s;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

.parallax__afterAnimation2 p{
  right:17px;
}

.parallax__afterAnimation3{
  top:-11%;
  right:11%;
  -webkit-animation:a 1s 1;
  animation:a 1s 1;
  -webkit-animation-delay:4s;
  animation-delay:4s;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

.parallax__afterAnimation3 p{
  left:15px;
}

.parallax__afterAnimation4{
  top:4%;
  right:-15%;
  -webkit-animation:a 1s 1 ease-out;
  animation:a 1s 1 ease-out;
  -webkit-animation-delay:3s;
  animation-delay:3s;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

.parallax__afterAnimation4 p{
  left:40px;
}

.parallax__maquetteBack1{
  bottom:-10%;
  right:-webkit-calc(50% - 390px);
  right:calc(50% - 390px);
  -webkit-animation:d 2.5s 1 ease-in-out;
  animation:d 2.5s 1 ease-in-out;
  -webkit-animation-fill-mode:backwards;
  animation-fill-mode:backwards;
}

@media (max-width:1080px){
  .parallax__maquetteBack1{
    right:-webkit-calc(50% - 300px);
    right:calc(50% - 300px);
  }
}

@media (max-width:900px){
  .parallax__maquetteBack1{
    right:-webkit-calc(50% - 230px);
    right:calc(50% - 230px);
  }
}

@media (max-width:767px){
  .parallax__maquetteBack1{
    right:-webkit-calc(50% - 200px);
    right:calc(50% - 200px);
  }
}

@media (max-width:700px){
  .parallax__maquetteBack1{
    right:-webkit-calc(50% - 180px);
    right:calc(50% - 180px);
  }
}

.parallax__afterAnimation1{
  top:28%;
  right:-19%;
  -webkit-animation:a 1s 1 ease-out;
  animation:a 1s 1 ease-out;
  -webkit-animation-delay:4.5s;
  animation-delay:4.5s;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

.parallax__afterAnimation1 p{
  font-size:20px;
  left:25px;
}

.parallax__maquetteBack2{
  bottom:-10%;
  left:-webkit-calc(50% - 390px);
  left:calc(50% - 390px);
  -webkit-animation:c 2.5s 1 ease-in-out;
  animation:c 2.5s 1 ease-in-out;
  -webkit-animation-fill-mode:backwards;
  animation-fill-mode:backwards;
}

@media (max-width:1080px){
  .parallax__maquetteBack2{
    left:-webkit-calc(50% - 300px);
    left:calc(50% - 300px);
  }
}

@media (max-width:900px){
  .parallax__maquetteBack2{
    left:-webkit-calc(50% - 230px);
    left:calc(50% - 230px);
  }
}

@media (max-width:767px){
  .parallax__maquetteBack2{
    left:-webkit-calc(50% - 200px);
    left:calc(50% - 200px);
  }
}

@media (max-width:700px){
  .parallax__maquetteBack2{
    left:-webkit-calc(50% - 180px);
    left:calc(50% - 180px);
  }
}

.parallax__afterAnimation5{
  left:-27%;
  bottom:23%;
  -webkit-animation:a 1s 1 ease-out;
  animation:a 1s 1 ease-out;
  -webkit-animation-delay:2.5s;
  animation-delay:2.5s;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

.parallax__afterAnimation6{
  left:-27%;
  bottom:70%;
  -webkit-animation:a 1s 1 ease-out;
  animation:a 1s 1 ease-out;
  -webkit-animation-delay:3.5s;
  animation-delay:3.5s;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

.parallax__afterAnimation6 p{
  right:55px;
}

@-webkit-keyframes e{
  0%{
    background-position:center top;
  }

  to{
    background-position:100% 0;
  }
}

@keyframes e{
  0%{
    background-position:center top;
  }

  to{
    background-position:100% 0;
  }
}

.search__wrap{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin-top:36px;
  margin-bottom:26px;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
  font-family:Open Sans,sans-serif;
}

@media (max-width:639px){
  .search__wrap{
    display:block;
  }
}

.search__form{
  width:470px;
}

@media (max-width:1199px){
  .search__form{
    width:48%;
  }
}

@media (max-width:639px){
  .search__form{
    width:100%;
  }
}

.search__form .fa-search{
  color:#ff7e6d;
  margin-top:10px;
}

.search__form .form-control{
  font-size:14px;
  color:#d3d3d3;
  font-style:italic;
  border-color:#e1e1e1;
}

.search__form .form-control:focus{
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),inset 0 0 8px rgba(102,175,233,.6);
}

.search__iconSearch svg{
  position:relative;
  top:5px;
}

.search__iconSearch svg path{
  fill:#ff5541;
}

.search__discount{
  min-width:31%;
  background-color:#ff543e;
  border-radius:3px;
  text-transform:uppercase;
  font-size:15px;
  height:34px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
}

@media (max-width:1199px){
  .search__discount{
    width:48%;
    font-size:13px;
  }
}

@media (max-width:639px){
  .search__discount{
    width:100%;
  }
}

.search__both{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
}

.search__both p{
  margin:0;
  color:#fff;
}

.search__iconPrice{
  margin:0 10px 0 5px;
}

.search__iconPrice svg{
  position:relative;
  top:2px;
}

.search__iconPrice svg path{
  fill:#fff;
}

.search__percent{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  font-size:25px;
  margin-right:10px;
  height:100%;
  color:#fff;
}

@media (max-width:639px){
  .search__percent{
    font-size:20px;
  }
}

.socials{
  position:absolute;
}

.socials_foot{
  top:7px;
  left:0;
}

.socials_head{
  right:0;
  top:7px;
}

@media (max-width:639px){
  .socials{
    right:auto;
    top:auto;
    bottom:-50px;
    width:100%;
  }
}

.socials__wrap{
  width:129px;
}

@media (max-width:639px){
  .socials__wrap{
    margin:0 auto;
  }
}

.socials__wrap a{
  display:inline-block;
  border-radius:50%;
  height:30px;
  width:30px;
  box-shadow:0px 0px 0px 1px #fff;
  text-align:center;
  padding:4px 8px;
  margin-left:13px;
}

.socials__wrap a svg{
  position:relative;
  top:2px;
  right:2px;
}

.socials__wrap .icon-tw svg{
  position:relative;
  top:3px;
  right:1px;
}

.socials__wrap .icon-vk svg{
  position:relative;
  top:3px;
}

.socials__wrap_foot a:hover{
  background-color:#fff;
  box-shadow:0px 0px 0px 1px #fff;
}

.socials__wrap_foot a:hover svg path{
  fill:#343434;
}

.socials__wrap_foot a svg path{
  fill:#fff;
}

.socials__wrap_head a{
  box-shadow:0px 0px 0px 1px #ececec;
}

.socials__wrap_head a:hover{
  background-color:#43a6c7;
  box-shadow:0px 0px 0px 1px #43a6c7;
}

.socials__wrap_head a:hover svg path{
  fill:#fff;
}

.socials__wrap_head a svg path{
  fill:#43a6c7;
}

.subscribe{
  height:85px;
  background-color:#efefef;
}

@media (max-width:479px){
  .subscribe{
    height:150px;
  }
}

.subscribe__wrap{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  height:85px;
}

@media (max-width:479px){
  .subscribe__wrap{
    height:auto;
    width:100%;
  }
}

.subscribe__info{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin:auto;
  height:45px;
  width:600px;
}

@media (max-width:479px){
  .subscribe__info{
    -webkit-flex-flow:column nowrap;
    -ms-flex-flow:column nowrap;
    flex-flow:column nowrap;
    -webkit-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    height:auto;
    margin-top:25px;
  }
}

.subscribe__title{
  font-size:16px;
  margin-bottom:0;
  -webkit-align-self:center;
  -ms-flex-item-align:center;
  align-self:center;
  margin-right:35px;
  text-transform:uppercase;
  color:#405770;
}

@media (max-width:479px){
  .subscribe__title{
    margin-bottom:15px;
    margin-right:0;
  }
}

.subscribe__form{
  height:45px;
  width:415px;
  position:relative;
}

@media (max-width:479px){
  .subscribe__form{
    height:auto;
    width:100%;
  }
}

@media (max-width:479px){
  .subscribe__inputWrap{
    width:80%;
    margin:0 auto;
    margin-right:45px;
  }
}

.subscribe__inputSearch{
  height:45px;
  width:365px;
  border-radius:4px 0 0 4px;
  font-size:13px;
  border:1px solid #e1e1e1;
  box-shadow:none;
  padding-left:14px;
  color:#d3d3d3;
  font-style:italic;
}

.subscribe__inputSearch:focus{
  border-color:#e1e1e1;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),inset 0 0 8px rgba(102,175,233,.6);
}

@media (max-width:479px){
  .subscribe__inputSearch{
    display:block;
    width:100%;
    float:right;
  }
}

.subscribe__button{
  position:absolute;
  right:10px;
  top:0;
  height:45px;
  width:45px;
  background-color:#0082d5;
  border-radius:0 4px 4px 0;
  border:none;
}

@media (max-width:479px){
  .subscribe__button{
    position:absolute;
    right:5px;
    top:0;
    left:auto;
  }
}

.subscribe__iconArrow svg{
  position:relative;
  top:2px;
  left:1px;
}

.subscribe__iconArrow svg path{
  fill:#fff;
}
@font-face{
  font-family:SegoeScript;
  src:url(../font/SegoeScript/SegoeScript.eot?#iefix) format('embedded-opentype'),url(../font/SegoeScript/SegoeScript.woff) format('woff'),url(../font/SegoeScript/SegoeScript.ttf) format('truetype'),url(../font/SegoeScript/SegoeScript.svg#SegoeScript) format('svg');
  font-weight:400;
  font-style:normal;
}