
<!-- start search-->
<div class="search">
  <div class="container">
    <div class="search__wrap">
      <form class="search__form">
        <div class="form-group has-feedback">
          <input type="text" name="search" placeholder="Search" class="form-control"/><span data-icon="icon-search" class="search__iconSearch form-control-feedback isvg"></span>
        </div>
      </form>
      <div class="search__discount">
        <div class="search__both"><span data-icon="icon-price" class="search__iconPrice isvg"></span>
          <p>discounts car templates</p>
        </div><span class="search__percent">20%</span>
      </div>
    </div>
  </div>
</div>
<!-- end search-->