.search
	&__wrap
		display: flex
		margin-top: 36px
		margin-bottom: 26px
		justify-content: space-between
		font-family: 'Open Sans', sans-serif
		@media (max-width: $screen-ipad-max)
			display: block
	&__form
		width: 470px
		@media (max-width: $screen-md-max)
			width: 48%
		@media (max-width: $screen-ipad-max)
			width: 100%
		.fa-search
			color: #FF7E6D
			margin-top: 10px
		.form-control
			font-size: 14px
			color: #d3d3d3
			font-style: italic
			border-color: #e1e1e1
			&:focus
				box-shadow: inset 0 1px 1px rgba(0,0,0,.075), inset 0 0 8px rgba(102, 175, 233, .6)
	&__iconSearch
		svg
			position: relative
			top: 5px
			path
				fill: #ff5541
	&__discount
		min-width: 31%
		background-color: #FF543E
		border-radius: 3px
		text-transform: uppercase
		font-size: 15px
		height: 34px
		display: flex
		align-items: center
		justify-content: space-between
		@media (max-width: $screen-md-max)
			width: 48%
			font-size: 13px
		@media (max-width: $screen-ipad-max)
			width: 100%
	&__both
		display: flex
		align-items: center
		p
			margin: 0
			color: white
	&__iconPrice
		margin: 0 10px 0 5px
		svg
			position: relative
			top: 2px
			path
				fill: white
	&__percent
		display: flex
		align-items: center
		font-size: 25px
		margin-right: 10px
		height: 100%
		color: white
		@media (max-width: $screen-ipad-max)
			font-size: 20px