// start search
//- autor: Vadim Korneychuk (sti4er)
.search
	.container
		.search__wrap
			form.search__form
				.form-group.has-feedback
					input.form-control(type="text" name="search" placeholder="Search")
					span.search__iconSearch.form-control-feedback.isvg(data-icon="icon-search")
			.search__discount
				.search__both
					span.search__iconPrice.isvg(data-icon="icon-price")
					p discounts car templates
				span.search__percent 20%
// end search