
<!-- start subscribe-->
<div class="subscribe">
  <div class="container">
    <div class="subscribe__wrap">
      <div class="subscribe__info">
        <p class="subscribe__title">subscribe</p>
        <form class="subscribe__form">
          <div class="subscribe__inputWrap">
            <input type="text" name="E-mail" placeholder="Enter email address" class="subscribe__inputSearch form-control"/>
            <button class="subscribe__button form-control"><span data-icon="icon-arrow-right" class="subscribe__iconArrow isvg"></span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- end subscribe-->