// start subscribe
//- autor: Vladislav Grigorzevsky (gradiusalisik)
.subscribe
	.container
		.subscribe__wrap
			.subscribe__info
				p.subscribe__title subscribe
				form.subscribe__form
					.subscribe__inputWrap
						input.subscribe__inputSearch.form-control(type="text" name="E-mail" placeholder="Enter email address")
						button.subscribe__button.form-control
							span.subscribe__iconArrow.isvg(data-icon="icon-arrow-right")
// end subscribe