
<!-- start footer-->
<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div itemtype="http://schema.org/Organization" itemscope="itemscope" class="footer__blocks">
        <!-- start socials-->
        <div class="socials socials_foot">
          <div class="socials__wrap socials__wrap_foot"><a href="#" data-icon="icon-vk" class="isvg"></a><a href="#" data-icon="icon-fb" class="isvg"></a><a href="#" data-icon="icon-tw" class="isvg"></a></div>
        </div>
        <!-- end socials-->
        <!-- start logo--><a href="#" data-icon="logo" class="logo logo_foot isvg"></a>
        <!-- end logo-->
      </div>
    </div>
  </div>
</footer>
<!-- end footer-->