.card
	width: 31%
	margin-bottom: 30px
	position: relative
	overflow: hidden
	@media (max-width: $screen-sm-min)
		width: 48%
		margin-bottom: 25px
	@media (max-width: $screen-phone-min)
		width: 100%
	&:hover > .card
		&__info
			opacity: 1
			top: 10px
		&__title
			top: 22%
			@media (max-width: $screen-md-min)
				top: 27%
			@media (max-width: $screen-xs-min)
				top: 25%
		&__text
			bottom: 56%
			@media (max-width: $screen-md-min)
				bottom: 51%
			@media (max-width: $screen-phone-min)
				bottom: 54%
			@media (max-width: $screen-xs-min)
				bottom: 53%
		&__buttonWrap
			opacity: 1
			bottom: 30%
			@media (max-width: $screen-md-min)
				bottom: 20%
			@media (max-width: $screen-phone-min)
				bottom: 27%
			@media (max-width: $screen-xs-min)
				bottom: 20%
		&__imgContent
			background-color: rgba(0,0,0,.7)
	&__imgContent
		display: block
		background-color: rgba(0,0,0,.3)
		width: 100%
		transition: all .5s
		img
			width: 100%
			display: block
			position: relative
			z-index: -10
	&__title
		position: absolute
		margin: 0
		top: 38%
		width: 100%
		text-align: center
		font-size: 2.5rem
		text-transform: uppercase
		z-index: 10
		overflow: hidden
		transition: all .5s
		@media (max-width: $screen-md-min)
			font-size: 2.5rem
			top: 42%
		@media (max-width: $screen-phone-min)
			top: 40%
		@media (max-width: $screen-xs-min)
			top: 38%
		&_res
			@media (max-width: $screen-md-min)
				font-size: 2rem
			@media (max-width: $screen-phone-min)
				font-size: 2.5rem
	&__text
		position: absolute
		margin: 0
		bottom: 40%
		width: 100%
		text-align: center
		font-size: 13px
		text-transform: uppercase
		z-index: 10
		transition: all .5s
		@media (max-width: $screen-md-min)
			font-size: 12px
			bottom: 35%
		@media (max-width: $screen-phone-min)
			bottom: 42%
		@media (max-width: $screen-xs-min)
			bottom: 40%
	&__buttonWrap
		position: absolute
		width: 100%
		height: 40px
		bottom: -30%
		opacity: 0
		transition: all .5s
	&__button
		display: block
		height: 40px
		width: 120px
		border: 2px solid #ff5541
		border-radius: 5px
		font-size: 14px
		text-transform: uppercase
		text-align: center
		padding-top: 8px
		color: white
		z-index: 30
		cursor: pointer
		margin: 0 auto
		transition: all .5s
		&:hover
			background-color: #ff5541
			color: white
	&__info
		position: absolute
		top: -20px
		left: 10px
		height: 23px
		width: 70px
		border-radius: 5px
		font-size: 13px
		text-transform: uppercase
		line-height: 23px
		text-align: center
		opacity: 0
		transition: all .5s
		&_sale
			background-color: #fc5440
			background-image: repeating-linear-gradient(-45deg, transparent, transparent 2px, #df4736 2px, #df4736 4px)
		&_new
			background-color: #00bcfd
			background-image: repeating-linear-gradient(-45deg, transparent, transparent 2px, #02ace7 2px, #02ace7 4px)
		&_hot
			background-color: #b0c549
			background-image: repeating-linear-gradient(-45deg, transparent, transparent 2px, #a4bb38 2px, #a4bb38 4px)