// start card
//- autor: Alexander Miliutin (alexmil89)
.card
	a.card__imgContent(href="#")
		picture
			source(srcset="/img/cards/10.webp" type="image/webp")
			img(srcset="/img/cards/10.jpg" alt="card")
	.card__info.card__info_hot hot
	h3.card__title overview
	p.card__text Responsive PrestaShop Themes
	.card__buttonWrap
		a.card__button Watch
// end card