
<!-- start card-->
<div class="card"><a href="#" class="card__imgContent">
    <picture>
      <source srcset="/img/cards/2.webp" type="image/webp"/><img srcset="/img/cards/2.jpg" alt="card"/>
    </picture></a>
  <div class="card__info card__info_sale">sale</div>
  <h3 class="card__title">Northwave</h3>
  <p class="card__text">Responsive PrestaShop Themes</p>
  <div class="card__buttonWrap"><a class="card__button">Watch</a></div>
</div>
<!-- end card-->