// start card
//- autor: Alexander Miliutin (alexmil89)
.card
	a.card__imgContent(href="#")
		picture
			source(srcset="/img/cards/5.webp" type="image/webp")
			img(srcset="/img/cards/5.jpg" alt="card")
	.card__info.card__info_sale sale
	h3.card__title.card__title_res The new york times
	p.card__text Responsive PrestaShop Themes
	.card__buttonWrap
		a.card__button Watch
// end card