// start card
//- autor: Alexander Miliutin (alexmil89)
.card
	a.card__imgContent(href="#")
		picture
			source(srcset="/img/cards/3.webp" type="image/webp")
			img(srcset="/img/cards/3.jpg" alt="card")
	.card__info.card__info_new new
	h3.card__title ROOM Booking
	p.card__text Responsive PrestaShop Themes
	.card__buttonWrap
		a.card__button Watch
// end card